.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.skills-title{
    position: relative;
}

.skills-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.skills-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.skills-sections {
    display: flex;
    gap: 80px;
}

.skills-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.skills-right img{
    border-radius: 100px;
}

.skills-para{
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
}
.skills-skills{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.skills-skill{
    display: flex;
    align-items: center;
    gap: 50px;
    transition: 0.3s;
}

.skills-skill p{
    min-width: 170px;
    font-size: 24px;
    font-weight: 700;
}
.skills-skill hr{
    outline: none;
    border: none;
    /* width: 50%; */
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.skills-achievements{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    width: 100%;
}
.skills-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.skills-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(264deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills-achievement p{
    font-size: 22px;
    font-weight: 500;
}

.skills-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.skills-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}

/* 1300px */
@media(max-width:1300px){
    .skills{
        gap: 50px 0;
        margin: 50px 70px;
        
    }

    .skills-title h1{
        padding: 0 30px;
        font-size: 60px;
        font-weight: 500;
    }
    
    .skills-title img{
        width: 170px;
    }

    .skills-left{
        gap: 20px;
        
    }
    .skills-right img{
        display: none;    }
    .skills-skill p{
        font-size: 17px;

    }
    .skills-skill p{
        font-size: 20px;

    }
    .skills-skill hr{
        height: 6px;
    }
    .skills-achievements{
        width: 90%;
        gap: 10px;
    }
    
}

/* 770px */

@media(max-width:770px){
    .skills{
        gap: 50px;
        margin: 50px 10px;
        align-items: center;
    }
    .skills-title h1{
      font-size: 30px;
      padding: 0;
    }
    .skills-title img{
        width: 80px;
        right: -20px;
    }
    .skills-sections{
        flex-direction: column;
    }
    .skills-right{
        display: none;
    }
    .skills-para{
        font-size: 18px;
        line-height: 32px;
    }
    .skills-skill{
       gap: 20px;
       align-items: center;
    }
    .skills-skill p{
        font-size: 10px;
        min-width: 50px;

    }
    .skills-skill hr{
        height: 6px;
    }
    .skills-achievements{
        justify-content: space-between;
        flex-direction: column;
    }
    .skills-achievement{
        gap: 10px;

    }
    .skills-achievement h1{
        font-size: 30px;
        font-weight: 500;
    }
    .skills-achievement p{
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }
}