.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin: 240px 170px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* .about-sections {
    display: flex;
    gap: 80px;
} */

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-left img {
    border-radius: 100px;

}

.linkdin {
    padding: 10px 40px;
    border: 3px solid blue;
    background:white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
}

.about-right .linkdin-button{
  display: flex;
  /* width: 100%; */
  /* justify-content: flex-start; */
}
.about-right .linkdin-button a{
    /* position: relative; */
    left: 200px;
  }

.linkdin img{
    width: 100px;
}
.linkdin:hover{
    background: linear-gradient(270deg, #DF8908 -5.09%, #B415FF 106.28%);
}


.about-para {
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
    width: 70%;
}

.about-skills {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about-skill {
    display: flex;
    align-items: center;
    gap: 50px;
    transition: 0.3s;
}

.about-skill p {
    min-width: 170px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    /* width: 50%; */
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-achievements {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    width: 100%;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(264deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}

/* 1300px */
@media(max-width:1300px) {
    .about {
        gap: 50px 0;
        margin: 50px 30px;
    }
    .about-title h1 {
        padding: 0 30px;
        font-size: 60px;
        font-weight: 500;
    }
    
    .about-title img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 170px;
    }

    .about-right {
        gap: 20px;
    }

    .about-left img {
        display: none;
    }

    .about-skill p {
        font-size: 17px;

    }

    .about-skill p {
        font-size: 20px;

    }

    .about-skill hr {
        height: 6px;
    }

    .about-achievements {
        width: 90%;
    }

}

/* 1000px */
@media(max-width:1000px){
    .about-para {
        width: 90%;
    }
}

/* 770px */

@media(max-width:770px) {
    .about {
        gap: 50px;
        margin: 50px 10px;
        align-items: center;
    }

    .about-title h1 {
        font-size: 30px;
        padding: 0;
    }

    .about-title img {
        width: 80px;
        right: -10px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 15px;
        line-height: 22px;
        width: 80%;
    }

    .about-right {
        align-items: center;
    }

    .about-skills{
        width: 80%;
    }
    

    .about-skill {
        gap: 15px;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
    }
    .about-skill p {
        font-size: 15px;
        min-width: 0px;

    }
    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;

    }

    .about-achievement h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .about-achievement p {
        text-align: center;
        font-size: 16px;
    }

    .show-more {
        width: 200px;
        gap: 10px;
        font-size: 15px;
        padding: 10px 20px;

    }

    .show-more img {
        width: 20px;

    }
    .linkdin {
        padding: 5px 20px;
    }
    .about-right .linkdin-button a{
        left: 5px;
      }
    
}