
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0; /* Remove default margin */
    background-color: rgb(27, 26, 26);
    background-size: cover; /* Cover the entire viewport */
    color: white;
    font-family: "Outfit", sans-serif;
}
